/* -------------------- */
/*         Body         */
/* -------------------- */

body {
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #16222A, rgb(35, 91, 170), #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #16222A, rgb(35, 91, 170), #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

p {
    color: rgb(185, 185, 185);
}

/* -------------------- */
/*        Navbar        */
/* -------------------- */

.navbar-brand {
    color: lightskyblue;
}

.navbar {
    background-color: rgba(0, 0, 0, .75);
}

.navbar-brand:hover {
    color: white;
}

.nav-link {
    color: rgb(180, 180, 180);
}

.nav-link:hover {
    color: white;
}

.navbar-toggler {
    color: rgb(180, 180, 180);
    outline: none;
}

.navbar-toggler:hover {
    color: white;
}

.navbar-toggler:focus {
    outline: none;
    color: lightskyblue;
}

/* -------------------- */
/*      Jumbotron       */
/* -------------------- */

.jumbotron {
    margin-top: 90px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, .50);
}

h1 {
    color: lightskyblue;
}

/* -------------------- */
/*       Projects       */
/* -------------------- */

#projects-title-container {
    margin-bottom: 15px;
    padding: 13px 0px 13px 25px;
    background-color: rgba(0, 0, 0, .50);
}

.card {
    background-color: rgba(0, 0, 0, .50);
}

.cardButtons {
    margin-top: auto;
}

/* -------------------- */
/*        About         */
/* -------------------- */

#about {
    padding: 35px;
    background-color: rgba(0, 0, 0, .5);
    text-align: justify;
}

/* -------------------- */
/*        Footer        */
/* -------------------- */

#footer p {
    text-align: center;
    color: white;
}