body {
    background: rgb(15, 15, 15);
    font-family: 'Yellowtail', cursive;
}

.container {
    display: flex;
    justify-content: center;
}

h1 {
    margin: 4vh 0px 2vh 0px;
    text-align: center;
    color: #7dd6fc;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, .75);
}

h2 {
    margin: 0px;
    text-align: center;
}

.fa-reply {
    float: left;
    font-size: 2em;
}

h2, .fa-reply {
    color: black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .75);
}

input {
    padding: 5px 0px;
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

ul {
    height: 85%;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

li {
    padding: 5px 0px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    background: white;
}

li:nth-of-type(odd) {
    background: rgb(235, 235, 235);
}

.fa-trash-alt {
    float: right;
}

#pantry-area {
    display: block;
    background-image: url("assets/pantry.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 21vh;
    width: 40vh;
}

#freezer-area {
    display: block;
    background-image: url("assets/freezer.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 18vh;
    width: 40vh;
}

#fridge-area {
    display: block;
    background-image: url("assets/fridge.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 44vh;
    width: 40vh;
}

#cold-boy {
    display: inline-block;
    margin-top: 5vh;
    margin-left: 7vh;
    color: black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .75);
}

#groceries-area {
    display: inline-block;
    margin-top: 7vh;
    margin-left: 50%;
    height: 14vh;
    width: 10vh;
}

.component-container {
    height: 80vh;
    padding: 10px;
    border: 20px solid;
}

#fridge-container {
    background: white;
    border-color: #a7e4ff;
    border-radius: 15px;
}

#freezer-container {
    background: white;
    border-color: #a7e4ff;
    border-radius: 15px;
}

#pantry-container {
    background: #473122;
    border-color: #896044;
}

#groceries-container {
    background: white;
    border-style: double;
    border-color: lightgreen;
}